{% load static %}

<footer class="footer bg-white py-3 mt-auto">
  <div class="container">
      <div class="footer-content d-flex align-items-center justify-content-center">
          <img class="me-1" height="19" src="{% static 'global/img/logo.png' %}" />
          <span class="mb-md-0 text-muted">&copy;  Adrian Olczak. All rights reserved.
            <a href="https://github.com/adrolc" class="text-dark" target="_blank"><i class="fa-brands fa-github fs-3 ms-1"></i></a>
          </span>
      </div>
  </div>
</footer>