          {% load blog_tags %}
          {% load static %}
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px; z-index: 1019;">
            <!--Section: Ad-->
            <section class="text-center border-bottom pb-4 mb-4">
              <div class="bg-image hover-overlay ripple mb-4">
                <img
                  src="{% static '/blog/img/place_for_ad.jpg' %}"
                  class="img-fluid" />
              </div>
              <h5>Place for advertising</h5>

              <p>
                Ad space available. Promote your brand today. Contact us for details.
              </p>
              <a role="button" class="btn btn-primary" href="{% url 'homepage:home' %}"
                target="_blank">Contact<i class="fa-solid fa-message ms-2"></i></a>
            </section>
            <!--Section: Ad-->

            <!--Section: Social media-->
            <section class="border-bottom pb-4 mb-4">
              <h5 class="mb-4 text-center">Social media</h5>
              <div class="d-flex gap-2 justify-content-center flex-wrap">
                <a href="{{ facebook }}" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="{{ twitter }}" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="{{ linkedin }}" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="{{ github }}" class="btn btn-primary px-3 me-1" style="background-color: #333;">
                  <i class="fab fa-github"></i>
                </a>
                
              </div>
            </section>
            <!--Section: Social media-->

            <!--Section: Tags-->
            <section class="border-bottom pb-4 mb-4">
              <h5 class="mb-4 text-center">Tags</h5>
              <div class="d-flex gap-1 flex-wrap">
                {% show_tags %}
              </div>
            </section>
            <!--Section: Tags-->

            <!--Section: Latest posts-->
            <section class="border-bottom pb-4 mb-4">
              <h5 class="mb-4 text-center">Latest posts</h5>
              {% show_latest_posts 3 %}
            </section>
            <!--Section: Latest posts-->
            
            <!--Section: RSS -->
            <section class="border-bottom pb-4 mb-4 text-center">
              <h5 class="mb-4">RSS Feed</h5>
              <a href="{% url "blog:post_feed" %}">
                <i class="fa-solid fa-rss"></i>
                Subscribe RSS feed
              </a>
            </section>
            <!--Section: RSS -->
            
          </section>
          <!--Section: Sidebar-->