{% extends 'account/base.html' %}

{% load static %}

{% block content %}
<section class="gradient-form">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="{% static 'global/img/logo.svg' %}"
                      style="width: 100px;" alt="logo">
                    <h4 class="mt-3 mb-5 pb-1">{% block form_title %}{% endblock %}</h4>
                  </div>
                  
                  {% block form_content %}
                  {% endblock %}

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center ao-gradient">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Explore the Boundless Possibilities of Technology</h4>
                  <p class="small mb-0">I'm a technology enthusiast sharing knowledge on programming, networking, and artificial intelligence. Join me and discover innovations, tools, and tips to help you grow and thrive.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}