{% extends 'base.html' %}

{% load static %}

{% block head %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'homepage/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/post_card.css' %}" rel="stylesheet">
{% endblock %}


{% block js_scripts %}
  <!-- Vendor JS Files -->
  <script src="{% static 'homepage/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'homepage/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'homepage/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'homepage/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'homepage/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'homepage/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'homepage/vendor/waypoints/noframework.waypoints.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'homepage/js/main.js' %}"></script>
{% endblock %}