$color-white: #fff;
$color-gray: #ddd;
$color-dark: #040b14;

$color-aqua: #09e3f4;
$color-blue: #4788f9;
$color-purple: #862cfe;
$hero-gradient: $color-aqua, $color-blue, $color-purple;

$color-aqua-dark: #08c6d4;
$color-aqua-dark2: #07b4c0;
$color-blue-dark: #196af7;
$color-blue-dark2: #043282;
$color-text: #333;

$hero-square-bg: rgba(255,255,255,.2);

$gradient-portfolio-btn: rgba(9, 227, 244, 0.75), rgba(71, 136, 249, 0.75), rgba(134, 44, 254, 0.75);