{% extends 'base.html' %}

{% load static %}

{% block head %}
<link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
{% block custom_head %}
<!-- Additional imports etc -->
{% endblock %}

{% endblock %}

{% block main_content %}

<!-- Navbar -->
{% include 'blog/includes/navbar.html' %}

{% block top %}
<!-- content under navbar -->
{% endblock %}

<main class="main-content">
  <div class="container">
      <div class="row g-4">
          <div class="col-12 col-lg-9">
            {% block content %}
            <!-- content -->
            {% endblock %}
          </div>
          <!-- Sidebar -->
          <div class="col-12 col-lg-3">
            {% block sidebar %}
            <!-- sidebar -->
            {% endblock %}
          </div>
      </div>
  </div>
</main>
 
<!-- Footer -->
{% include 'blog/includes/footer.html' %}


{% endblock %}



