@use '../sass-utils/vars';

body {
    font-family: "Open Sans", sans-serif;
    color: vars.$color-text;
  }
  
  a {
    color: vars.$color-blue;
    text-decoration: none;
  }
  
  a:hover {
    color: vars.$color-blue-dark;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

  p {
    font-size: 18px;
  }

//   Back to top button
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: vars.$color-blue;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: vars.$color-white;
    line-height: 0;
}

.back-to-top:hover {
    background: vars.$color-blue-dark;
    color: vars.$color-white;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
  