{% extends 'account/form_base.html' %}
{% load static %}

{% block form_title %}Reset password{% endblock %}

{% block form_content %}

  <!-- Print errors -->
  {% if form.errors %}
  <small class="text-danger">Your username and password didn't match. Please try again.</small>
  {% endif %}

  <!-- Form -->
  {% if validlink %}
  <form action="." method="POST">
    {% csrf_token %}
    <p>Please enter your new password twice:</p>
    {% for field in form %}
    <div class="form-outline mb-4">
      {{ field }}
      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="text-center pt-1 mb-5 pb-1 d-grid">
      <button class="btn btn-primary ao-gradient-horizontal mb-3 border-0" type="submit">Set password</button>
    </div>
  </form>
  {% else %}
  <div class="text-center pb-4 mt-5">
  <p class="mb-0 me-2 text-danger">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  </div>
  {% endif %}

  

{% endblock %}