
<!--Main Navigation-->
<header>
    <!-- Carousel wrapper -->
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
      </ol>

      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="mask" style="background: linear-gradient(to top right, rgba(9, 227, 244, 0.5), rgba(71, 136, 249, 0.5), rgba(134, 44, 254, 0.5));">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h1 class="mb-3">Tech blog for developers</h1>
                <h5 class="mb-4">Backend, Machine Learning, Data Analysis, IoT and more</h5>
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="{{ latest_post.get_absolute_url }}"
                  role="button"
                  rel="nofollow"
                  >Ostatni post</a
                >
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="{% url 'blog:home' %}#posts"
                  role="button"
                  >Najnowsze posty</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>Artificial Intelligence</h2>
                <a
                class="btn btn-outline-light btn-lg m-2"
                href="{% url 'blog:post_list_by_tag' tag_slug='AI' %}"
                role="button"
                >Zobacz posty</a
              >
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>Web Development</h2>
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="{% url 'blog:post_list_by_tag' tag_slug='web' %}"
                  role="button"
                  >Zobacz posty</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->

      <!-- Controls -->
      <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Carousel wrapper -->
  </header>