/* ====================== Header ================== */
/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item {
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    #introCarousel {
        margin-top: -58.59px;
    }

    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 50vh;
    }
}

section.post-content img {
    max-width: 100%;
    height: auto;
}

section.post-content p,
section.post-content li,
section.post-content a {
    font-size: 18px;
}

section.post-content h1,
section.post-content h2,
section.post-content h3,
section.post-content h4,
section.post-content h5 {
    margin: 20px 0;
}