@import url("./post_card.css");

body {
    background-color: rgba(251,251,251, 1)
}

footer {
    background-color: #fff !important;
}

section.post-content img {
    width: 100%;
    height: auto;
}