<section class="border-bottom pb-4 mb-4 mt-5">
    <h5 class="mb-4 text-center">Social media</h5>
    <div class="d-flex gap-2 justify-content-center flex-wrap">
        <a href="{{ facebook }}" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="{{ twitter }}" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="{{ linkedin }}" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="{{ github }}" class="btn btn-primary px-3 me-1" style="background-color: #333;">
            <i class="fab fa-github"></i>
        </a>

    </div>
</section>