{% extends 'blog/base.html' %}

{% load blog_tags %}
{% load static %}

{% block title %}Adrian Olczak - Blog{% endblock %}

{% block top %}
{% endblock %}

{% block content %}

      <!--Section: Content-->
      <section id="posts" class="text-center">
        <h4 class="m-5"><strong>{{ list_name }} ({{ posts.count }})</strong></h4>
        <div class="row">
          {% include "blog/includes/post_card.html" with posts=posts post_col="col-md-6 col-xl-12" post_image_col="col-xl-4" post_content_col="col-xl-8" %}
        </div>
      </section>
      <!--Section: Content-->

{% include "blog/includes/pagination.html" with page=page_obj %}

{% endblock %}

{% block sidebar %}

{% include 'blog/includes/sidebar/sidebar.html' %}

{% endblock %}