{% extends 'blog/base.html' %}

{% load blog_tags %}
{% load static %}

{% block title %}Adrian Olczak - Tech blog{% endblock %}

{% block top %}
<!-- Header -->
{% include 'blog/includes/header.html' with latest_post=posts|first %}
<!-- Search form -->
<div class="post-list-nav my-5">
  <div class="container">
    <form action="." method="GET">
      <div class="input-group" style="max-width: 300px">
        <div class="form-outline">
            {% for field in search_form %}
            {{ field }}
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block content %}

      <!--Section: Content-->
      <section id="posts" class="text-center">
        <h4 class="mb-5"><strong>{{ list_name }} ({{ posts.count }})</strong></h4>
        <div class="row">
          {% include "blog/includes/post_card.html" with posts=posts col_settings="col-lg-6 mb-4" %}
        </div>
      </section>
      <!--Section: Content-->

{% include "blog/includes/pagination.html" with page=page_obj %}

{% endblock %}

{% block sidebar %}

{% include 'blog/includes/sidebar/sidebar_home.html' %}

{% endblock %}