{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="{% url 'blog:home' %}">
      <img
        src="{% static 'global/img/logo.png' %}"
        height="26"
        alt="Adrian Olczak Logo"
        loading="lazy"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage:home' %}#about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage:home' %}">Contact</a>
        </li>
      </ul>
      <!-- Left links -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      {% if user.is_authenticated %}
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center text-dark"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <p class="m-0 me-2">{{ user.username }}</p>
          <img
            src="{{ user.profile.photo.url }}"
            class="rounded-circle"
            height="25"
            alt="User photo"
            loading="lazy"
            />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="{% url 'account:user_profile' %}">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'account:logout' %}?next={{ request.path }}">Logout</a>
          </li>
        </ul>
      </div>
      {% else %}
      <a href="{% url 'account:login' %}" class="btn btn-link px-3 me-2">
        Log in
      </a>
      <a href="{% url 'account:register' %}" class="btn btn-primary me-3 ao-gradient-1">
        Sign up
      </a>
      {% endif %}
    </div>
    <!-- Right elements -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
