.ao-gradient {
    /* fallback for old browsers */
    background: #4788f9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top right, #09e3f4, #4788f9, #862cfe);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top right, #09e3f4, #4788f9, #862cfe);
    border: None
    }
    
    @media (min-width: 769px) {
    .ao-gradient {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}

.ao-gradient-horizontal {
    background: #4788f9;
    
    background: -webkit-linear-gradient(to right, #09e3f4, #4788f9, #862cfe);
    
    background: linear-gradient(to right, #09e3f4, #4788f9, #862cfe);
}

/* Change user photo */
  .user-photo-container {
    position: relative;
  }
  .user-photo-container > label {
    transition: 0.2s;
  }
  .user-photo-container > label {
    cursor: pointer;
  }
  .user-photo-container:hover label {
  opacity: 0.75;
}
.user-photo-overlay > i{
  font-size: 35px;
}
.user-photo-container:hover .user-photo-overlay {
  opacity: 1;
}
  .user-photo-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }
