<div class="post-list-nav my-4">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark ps-0" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Python</a></li>
            <li><a class="dropdown-item" href="#">Frontend</a></li>
            <li><a class="dropdown-item" href="#">Backend</a></li>
            <li><a class="dropdown-item" href="#">Tools</a></li>
            </ul>
            </li>
            <li class="nav-item">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info text-white" type="submit">Search</button>
                  </form>
            </li>
        </ul>
    </div>
</div>