{% extends 'blog/base.html' %}

{% load blog_tags %}
{% load static %}

{% block title %}My Blog{% endblock %}

{% block top %}
<!-- Header -->
{% include 'blog/includes/header.html' %}
<!-- Search -->
<div class="post-list-nav my-5">
  <div class="container">
    <div class="input-group" style="max-width: 300px">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" />
        <label class="form-label" for="form1">Search</label>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Latest posts ({% total_posts %})</strong></h4>
        <div class="row">
          {% include "blog/includes/post_card.html" with posts=posts %}
        </div>
      </section>
      <!--Section: Content-->

{% include "blog/includes/pagination.html" with page=page_obj %}

{% endblock %}

{% block sidebar %}

{% include 'blog/includes/sidebar/sidebar_home.html' %}

{% endblock %}