{% extends 'blog/base.html' %}
{% load static %}

{% block title %}My Blog{% endblock %}

{% block top %}
{% include 'blog/includes/breadcrumb.html' %}
{% endblock %}

{% block content %}

  <!--Main layout-->
  
  <main class="mt-4 mb-5">
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class=" mb-4">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg"
              class="img-fluid shadow-2-strong rounded mb-4" alt="" />
              <h1 class="mb-0 h4 pt-3 pb-5 text-center">This is a long title of the article</h1>
            <div class="row align-items-center mb-4">
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (23).jpg" class="rounded shadow-1-strong me-2"
                  height="35" alt="" loading="lazy" />
                <span> Published <u>15.07.2020</u> by</span>
                <a href="" class="text-dark">Anna Maria Doe</a>
              </div>

              <div class="col-lg-6 text-center text-lg-end">
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                  <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1">
                  <i class="fas fa-comments"></i>
                </button>
              </div>
            </div>
          </section>
          <!--Section: Post data-mdb-->

          <!--Section: Text-->
          <section>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
              consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
              ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
              dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
              Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
              magni velit laborum itaque minima doloribus eligendi!
            </p>

            <p><strong>Optio sapiente molestias consectetur?</strong></p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum architecto ex ab aut
              tempora officia libero praesentium, sint id magnam eius natus unde blanditiis. Autem
              adipisci totam sit consequuntur eligendi.
            </p>

            <p class="note note-light">
              <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Optio odit consequatur porro sequi ab distinctio modi. Rerum cum dolores sint,
              adipisci ad veritatis laborum eaque illum saepe mollitia ut voluptatum.
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, libero repellat
              molestiae aperiam laborum aliquid atque magni nostrum, inventore perspiciatis
              possimus quia incidunt maiores molestias eaque nam commodi! Magnam, labore.
            </p>

            <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid shadow-1-strong rounded mb-4"
              alt="" />

            <ul>
              <li>Lorem</li>
              <li>Ipsum</li>
              <li>Dolor</li>
              <li>Sit</li>
              <li>Amet</li>
            </ul>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, temporibus nulla
              voluptatibus accusantium sapiente doloremque. Doloribus ratione laboriosam culpa. Ab
              officiis quidem, debitis nostrum in accusantium dolore veritatis eius est?
            </p>
          </section>
          <!--Section: Text-->

          <!--Section: Share buttons-->
          <section class="text-center border-top border-bottom py-4 mb-4">
            <p><strong>Share with your friends:</strong></p>

            <button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
              <i class="fab fa-linkedin"></i>
            </button>
          </section>
          <!--Section: Share buttons-->

        <!--Section: List of similar posts-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Similar posts</strong></h4>

        <div class="row">
          {% for post in similar_posts %}
          <div class="col-lg-6 col-xxl-4 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body text-start">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|truncatechars:100|linebreaks }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">READ MORE</a>
                <div class="d-flex justify-content-between align-items-center mt-3">
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fa-regular fa-calendar-days text-muted"></i>
                    <p class="text-muted m-0" style="font-size:13px">{{ post.publish|date:"d/m/Y" }}</p>
                  </div>
                  <div class="favorite">
                    <i class="fa-regular fa-heart fs-5"></i>
                  </div>
                </div>
                <div class="post-tags mt-2">
                  {% for tag in post.tags.all %}
                  <a href="{% url 'blog:post_list_by_tag' tag_slug=tag.slug %}" class="badge badge-dark">{{ tag.name }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <p>There are no similar posts yet.</p>
          {% endfor %}
      </section>
      <!--Section: List of similar posts-->

          <!--Section: Comments-->
            
            <section>
              <div class="container my-5">
              <p class=""><strong>{{ comments.count|pluralize:"comment,comments" }}: {{ comments.count }}</strong></p>
              <div class="card" style="background-color: transparent; box-shadow: none;">
                {% for comment in comments %}
                <div class="card-body">
                  <div class="d-flex flex-start align-items-center">
                    <img class="rounded-circle shadow-1-strong me-3"
                    src="{{ comment.user.profile.photo.url }}" alt="avatar" width="60"
                    height="60" />
                    <div>
                      <h6 class="fw-bold text-primary mb-1">{{ comment.user }}</h6>
                      <p class="text-muted small mb-0">Shared publicly - {{ comment.created }}</p>
                    </div>
                  </div>
                  <p class="mt-3">{{ comment.body|linebreaks }}</p>
                </div>
                {% empty %}
                <p>There are no comments yet.</p>
                {% endfor %}
                
                <hr class="hr hr-blurry" />
                {% if user.is_authenticated %}
                {% if cannot_comment %}
                <div class="alert alert-danger" role="alert">
                  You comment too fast. Please slow down.
                </div>
                {% else %}
                <form action="." method="POST">
                  {% csrf_token %}
                  <div class="card-footer py-3 border-0" style="background-color: transparent;">
                    <div class="d-flex flex-start w-100">
                      <img class="rounded-circle shadow-1-strong me-3"
                        src="{{ user.profile.photo.url }}" alt="avatar" width="40"
                        height="40" />
                        {% for field in comment_form %}
                        <div class="form-outline w-100">
                          {{ field }}

                          <label class="form-label" for="{{ field.id_for_label }}">Message</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="float-end mt-2 pt-1">
                      <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                      <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                    </div>
                  </div>
                </form>
                {% endif %}
                {% else %}
                <div class="d-flex align-items-center">
                  <a href="{% url 'account:login' %}?next={{ request.path }}" class="btn btn-primary me-3 ao-gradient-1" style="width: 100px;">Log in</a> to add a comment
                </div>
                {% endif %}
              </div>
            </div>
          </section>
          <!--Section: Comments-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->

{% endblock %}

{% block sidebar %}
{% include 'blog/includes/sidebar/sidebar_post_detail.html' %}
{% endblock %}