{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block top %}
<div class="container">
    <h1 class="my-4 display-3">Share post</h1>
</div>
{% endblock %}

{% block content %}
{% if sent %}
<div class="alert alert-success d-flex align-items-center gap-2" role="alert">
  <i class="fa-regular fa-circle-check"></i>
  <div>
    Post shared successfully
  </div>
</div>
{% else %}
<form method="POST" class="row g-3 needs-validation" novalidate>
    {% for field in form %}
    <div class="col-md-12">
      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
      {{ field }}
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Something wrong
      </div>
      {% if field.errors %}
      {% for error in field.errors %}
      <div class="alert alert-danger d-flex align-items-center gap-2 mt-2" role="alert">
        <i class="fa-regular fa-circle-xmark"></i>
        <div>
          {{ error }}
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    {% endfor %}
    {% csrf_token %}

    <div class="col-12">
      <button class="btn btn-info text-white" type="submit">Share post</button>
    </div>
  </form>
 
  <script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()

  </script>
   {% endif %}
  {% endblock %}

  {% block sidebar %}
  {% include 'blog/includes/sidebar/sidebar_post_share.html' with post=post %}
  {% endblock %}