{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7RE1BP61YQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7RE1BP61YQ');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Adrian Olczak">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'global/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/mdb/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link href="{% static 'global/img/favicon.png' %}" rel="icon">
    <link href="{% static 'global/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    {% block head %}{% endblock %}
    
</head>
<body>
    {% block body %}{% endblock %}
    
    <script src="{% static 'global/mdb/js/mdb.min.js' %}"></script>
    {% block js_scripts %}{% endblock %}
  </body>
</html>
