{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Adrian Olczak">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'global/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/mdb/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link href="{% static 'global/img/favicon.png' %}" rel="icon">
    <link href="{% static 'global/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    {% block head %}{% endblock %}
    
</head>
<body>
    {% block body %}{% endblock %}
    
    <script src="{% static 'global/mdb/js/mdb.min.js' %}"></script>
    {% block js_scripts %}{% endblock %}
  </body>
</html>
